[submodule "extras"]
	path = extras
	url = https://github.com/OMADA11/extras.git
	branch = master
[submodule "quotes"]
	path = quotes
	url = https://github.com/OMADA11/_quotes.git
	branch = master
[submodule "figures"]
	path = figures
	url = https://github.com/OMADA11/_gallery
[submodule "images"]
	path = images
	url = https://github.com/OMADA11/images
[submodule "text"]
	path = text
	url = https://github.com/OMADA11/text.git
	branch = master
[submodule "bibliography"]
	path = bibliography
	url = https://github.com/OMADA11/bibliography.git
[submodule "kallipos-contribution"]
	path = kallipos-contribution
	url = https://github.com/OMADA11/kallipos-contribution.git
