[submodule "extras"]
	path = extras
	url = https://github.com/nkanagno/extras.git
	branch = master
[submodule "quotes"]
	path = quotes
	url = https://github.com/nkanagno/_quotes.git
	branch = master
[submodule "figures"]
	path = figures
	url = https://github.com/nkanagno/_gallery
[submodule "images"]
	path = images
	url = https://github.com/nkanagno/images
[submodule "text"]
	path = text
	url = https://github.com/nkanagno/text.git
	branch = master
[submodule "bibliography"]
	path = bibliography
	url = https://github.com/nkanagno/bibliography.git
[submodule "kallipos-contribution"]
	path = kallipos-contribution
	url = https://github.com/nkanagno/kallipos-contribution.git
	branch = master
